@charset "utf-8";
/* CSS Document */
body{
	background:#f4f8f9;
	}

/*container*/
.container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	}

.content-right{
	width: 780px;
	float: right;
	background-color: #fff;
	font-size: 12px;
	color: #999;
	margin-top:20px;
	margin-bottom:20px;
}

/*--company profile--*/
.content-right-01{
	width:760px;
	padding: 10px;
	}
.company-profile{
	height:34px;
	border-bottom:1px solid #f3eeee;
	}
.company-profile h3{
	font-size:18px;
	font-weight:normal;
	height:34px;
	line-height:34px;
	}
.company-content{
	padding:10px 10px;
	}
	
.company-content img{
	margin-bottom:10px;
	}
.company-content-article{
	background-color:#61c0f0;
	padding:10px;
	/*margin:10px 0;*/
	}
.company-content-article h3{
	font-size:20px;
	font-weight:normal;
	line-height:35px;
	color:#FFF;
	}
.article{
	letter-spacing:1px;
	line-height:20px;
	margin:10px 0;
	}
.company-content-article p{
	margin: 0;
	color:#FFF;
	}
.icon-company{
	width:720px;
	background-color:#ebecee;
	padding:20px 30px;
	}
.icon-company ul{
	width:720px;
	overflow:hidden;
	}
.icon-company ul li{
	float:left;
	line-height:20px;
	color:#666;
	text-align:center;
	width:170px;
	padding:0 5px;
	}

.icon-company-img{
	display:block;
	margin:0 auto;
	width:78px;
	height:78px;
	background-image:url(../imgs/icon-company78.png);
	background-repeat:no-repeat;
	/*vertical-align:text-bottom;*/
	}
.icon-company-img01{
	background-position:0 0;
	}
.icon-company-img02{
	background-position:-78px 0;
	}
.icon-company-img03{
	background-position:-156px 0;
	}
.icon-company-img04{
	background-position:-234px 0;
	}
	
/*---TDS ---*/
.company-title{
	height:44px;
	line-height:44px;
	border-bottom:1px solid #f3eeee;
	}
.company-title h3{
	font-size:18px;
	font-weight:normal;
	padding-left:20px;
	}
.tds-content{
	padding:10px 20px;
	width:740px;
	}
.tds-content img{
	margin-bottom:5px;
	}
.paragraph{
	letter-spacing:1px;
	line-height:20px;
	margin-bottom:5px;
	}
.paragraph span{
	color:#61c0f0;
	font-weight:bold;
	}
.tds-content ul{
	width:740px;
	overflow:hidden;
	}
.tds-content ul li{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background-color:#f3f3f3;
	}
.tds-content ul li a{
	display:block;
	width:138px;
	padding-top:20px;
	font-size:14px;
	height:60px;
	background-color:#f3f3f3;
	text-align:center;
	}
.tds-content ul li a img{
	display:block;
	margin:0 auto;
	}

/*Team Style*/
.team-content{
	padding:20px;
	width:740px;
	}
.team-content img{
	display:block;
	margin-bottom:10px;
	}
.team-all-img{
	position:relative;
	width:740px;
	height:295px;
	}
.team-bottom-img{
	position:relative;
	width:740px;
	height:617px;
	}
.ieft-img{
	position:absolute;
	left:0;
	top:0;
	}
.right-img{
	position:absolute;
	right:0;
	top:0;
	}
.bottom-img{
	position:absolute;
	left:0;
	top:90px;
	}
.left-square{
	width:370px;
	height:295px;
	background-color:#d8ae8d;
	position:absolute;
	right:0;
	top:0;
	}
.right-square{
	width:370px;
	height:295px;
	background-color:#5a2264;
	position:absolute;
	left:0;
	top:0;
	}
.top-square{
	width:740px;
	height:90px;
	background-color:#ba0e14;
	position:absolute;
	left:0;
	top:0;
	z-index:18;
	}
.square-title{
	font-size:24px;
	color:#FFF;
	text-align:center;
	/*height:295px;
	line-height:295px;*/
	}
.top-title{
	margin:110px 40px 0 40px;
	}
.bottom-title{
	height:90px;
	line-height:90px;
	}
.left-triangle{
	position:absolute;
	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #d8ae8d;
    border-bottom: 10px solid transparent;
	right:369px;
	top:127px;
	}
.right-triangle{
	position:absolute;
	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #5a2264;
    border-bottom: 10px solid transparent;
	left:369px;
	top:127px;
	}
.bottom-triangle{
	position:absolute;
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ba0e14;
	left:380px;
	top:89px;
	z-index:19;
	}
	
/*contact us*/
.contact-content{
	padding:20px;
	width:740px;
	}
.contact-content h3{
	font-size:16px;
	font-weight:normal;
	}
.contact-content p{
    letter-spacing:1px;
	line-height:20px;
	}
.contact-content p span{
	color:#61c0f0;
	}
.contact-img iframe{
	margin:10px 0;
	}
.telephone{
	width:740px;
	}
.telephone dl{
	float:left;
	margin-right:30px;
	}
.telephone dl dt{
	font-size:16px;
	color:#61c0f0;
	line-height:30px;
	}
.telephone dl dd{
	letter-spacing:1px;
	line-height:20px;
	}
	
/*payment account*/
.pay-content{
	padding:10px 20px;
	width:740px;
	}
.pay-content p{
	color:red;
	font-weight:bold;
	}
.pay-icbc{
	width:740px;
	height:150px;
	border-radius:5px;
	margin-top:10px;
	overflow:hidden;
	}
.pay-alipay{
	width:740px;
	height:150px;
	border-radius:5px;
	margin-top:10px;
	margin-bottom:100px;
	overflow:hidden;
	}
	
/*价格price*/
.price01{
	width:100%;
	background-color:#f4f8f9;
	}
.priice-img{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-bottom:100px;
	}
.priice-img img{
	margin-top:50px;
	margin-bottom: 10px;
	}
.priice-img h1{
	font-weight:normal;
	font-size:46px;
	color:#289fe5;
	font-family:'SourceHanSansCN Normal','Microsoft YaHei';
	line-height:50px;
	padding-top:80px;
	}
.priice-img h3{
	font-weight:normal;
	font-size:18px;
	font-family:'SourceHanSansCN Normal','Microsoft YaHei';
	color:#666;
	line-height:70px;
	}
.priice-img p{
	font-size:26px;
	color:#666;
	font-family:'SourceHanSansCN Medium','SourceHanSansCN Normal','Microsoft YaHei';
	}
.priice-img p span{
	font-size:46px;
	color:#e21010;
	font-family:'SourceHanSansCN Normal','Microsoft YaHei';
	}
.priice-img p em{
	font-style:normal;
	font-size:18px;
	color:#F00;
	}
.priice-img p.p02{
	font-size:18px;
	font-family:'SourceHanSansCN Light','Microsoft YaHei';
	height:40px;
	line-height:40px;
	}
.price02{
	width:100%;
	background-color:#fff;
	}