.toolbar{
	width: 52px;
	height: 260px;
	position: fixed;
	right: 90px;
	bottom: 25px;
	z-index: 999;
}
.toolbar span{
	position: relative;
	width: 42px;
	height: 42px;
	line-height: 21px;
	display: block;
    float: left;
    margin: 5px;
}
.toolbar span a{
	color: #fff;
}
.toolbar span a:hover{
	color: #fff;
}
.icon42{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	margin: 5px;
	text-align: center;
	background-image: url(../imgs/icon_list.png);
	background-repeat: no-repeat;
}
.icon42 .text{
    padding: 5px 7px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}
.icon42-hover{
	display: block;
	background-color: #7A7C7C;
	background-color: rgba(0,0,0,.5);
	background-image: none !important;
	border-radius: 5px;
}
.signup-icon{
	background-position: -199px -46px;
}
.chat-icon{
	background-position: -48px -46px;
}
.qqchat-icon{
	background-position: -148px -46px;
}
.weixin-icon{
	background-position: 0 -46px;
}
.gotop-icon{
	background-position: -97px -46px;
}
.triangle-down{
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border-width: 7px;
	border-style: dashed dashed dashed solid ;
	border-color: transparent transparent transparent #ccc ;
}
.icon-qq{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../imgs/icon_qq.png);
	margin: -5px 5px;
}
.tooltip{
	display: none;
	position: absolute;
	min-width:140px;
	font-size: 12px;
	background-color: #fff;
	border-radius: 5px;
	border:1px\9 solid\9 #eee\9;
	padding: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.tooltip-top{
	margin-bottom: 10px;
}
.tooltip-top li{
	line-height: 18px;
	padding: 5px 0;
	border-bottom:1px solid #ddd;
}
.tooltip-top li em{
	color: #2497f0;
}
.tooltip-bottom li{
	line-height: 18px;
	color: #2497f0;
}


#weixin .tooltip img{
	display: block;
	width: 140px;
}
.tooltip-con{
	line-height: 20px;
}
.tooltip-con tr{
	height: 30px;
	line-height: 30px;
}
.tooltip-con tr td a{
	color: #666;
}
.tooltip-con tr td a:hover{
	color: #2497f0;
}
.contact-tooltip{
	width: 155px;
	height: 350px;
	right: 46px;
	top: -162px;
}
.contact-tooltip .triangle-down{
	bottom: 175px;
	right: -14px;
}
.service-tooltip{
	width: 130px;
	height: 135px;
	left: -164px;
	top: -50px;
}
.service-tooltip .triangle-down{
	bottom: 70px;
	right: -14px;
}
.weixin-tooltip{
	width: 150px;
	height: 145px;
	right: 46px;
	top: -49px;
	padding-right: 0;
}
.weixin-tooltip .triangle-down{
	right: -14px;
	top: 68px;
}